<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="charBoardMapper">

	<resultMap type="charBoard" id="charBoardResultSet">
		<result column="CB_NO" property="boardNo"/>
		<result column="C_NO" property="charNo"/>
		<result column="CB_WRITER" property="boardWriter"/>
		<result column="CB_TITLE" property="boardTitle"/>
		<result column="CB_CONTENT" property="boardContent"/>
		<result column="CB_VIEWS" property="views"/>
		<result column="CB_LIKE" property="like"/>
		<result column="CB_CREATE_DATE" property="createDate"/>
		<result column="CA_ORIGIN_NAME" property="originName"/>
		<result column="CA_CHANGE_NAME" property="changeName"/>
		<result column="CB_STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="charAttach" id="charAttachResultSet">
		<result column="CA_NO" property="fileNo"/>
		<result column="CB_NO" property="refBno"/>
		<result column="CA_ORIGIN_NAME" property="originName"/>
		<result column="CA_CHANGE_NAME" property="changeName"/>
		<result column="CA_LEVEL" property="level"/>
		<result column="CA_CREATE_DATE" property="createDate"/>
		<result column="CA_STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="charReply" id="charReplyResultSet">
		<result column="CR_NO" property="reNo"/>
		<result column="CB_NO" property="refBno"/>
		<result column="CR_CONTENT" property="reContent"/>
		<result column="CR_WRITER" property="reWriter"/>
		<result column="CR_GROUP_NO" property="reGroupNo"/>
		<result column="CR_PARENT_NO" property="reParentNo"/>
		<result column="CR_STEP" property="reStep"/>
		<result column="CR_LEVEL" property="reLevel"/>
		<result column="CR_CREATE_DATE" property="reCreateDate"/>
		<result column="CR_STATUS" property="reStatus"/>		
	</resultMap>
	
	<!-- 게시글 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE TB_CHARACTER_BOARD
		SET CB_VIEWS = CB_VIEWS +1
		WHERE CB_NO = #{ bno }
		AND CB_STATUS = 'Y'
	</update>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectBoard" resultMap="charBoardResultSet" parameterType="_int">
		SELECT CB_NO
			  ,CB_TITLE
		      ,CB_CONTENT
		      ,CB_CREATE_DATE
		      ,CA_ORIGIN_NAME
		      ,CA_CHANGE_NAME
		FROM TB_CHARACTER_BOARD
		JOIN TB_CHARACTER_ATTACH USING(CB_NO)
		WHERE CA_STATUS = 'Y'
		AND CB_NO = #{ bno }
	</select>
	
	<!-- 전체 개시글 수 반환 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM TB_CHARACTER_BOARD
	</select>
	
	<!-- 게시글 리스트 조회 -->
	<select id="selectList" resultMap="charBoardResultSet">
		SELECT CB_NO
		      ,CB_WRITER
		      ,CB_TITLE
		      ,CB_CONTENT
		      ,CA_CHANGE_NAME
		      ,CB_VIEWS
		      ,CB_LIKE
		      ,CB_CREATE_DATE
		FROM TB_CHARACTER_BOARD
		JOIN TB_CHARACTER_ATTACH USING(CB_NO)
		WHERE CB_STATUS = 'Y'
		AND CA_STATUS = 'Y'
		AND CA_LEVEL = 1
		ORDER BY CB_CREATE_DATE DESC
	</select>
	
	<!-- 게시글 등록 (글) -->
	<insert id="insertBoard" parameterType="charBoard">
		INSERT INTO TB_CHARACTER_BOARD(
									   CB_NO
									  ,CB_TITLE
									  ,CB_CONTENT)
					VALUES(SEQ_CBNO.NEXTVAL
						  ,#{ boardTitle }
						  ,#{ boardContent })
	</insert>
	
	<!-- 게시글 등록 (첨부파일) -->
	<insert id="insertAttach" parameterType="java.util.List">
		INSERT INTO TB_CHARACTER_ATTACH(
									    CA_NO
									   ,CB_NO
									   ,CA_ORIGIN_NAME
									   ,CA_CHANGE_NAME
									   ,CA_LEVEL)
		SELECT SEQ_CANO.NEXTVAL,SEQ_CBNO.CURRVAL, A.*
		FROM(
			 <foreach collection="list" item="item" index="index" separator="union all">
			 		SELECT #{ item.originName }
			 			  ,#{ item.changeName }
			 			  ,#{ item.level }
			 		FROM SYS.DUAL
			 </foreach>
			 )A
	</insert>
	
	<!-- 게시글 수정 -->
<!-- 	<update id="updateBoard" parameterType="charBoard"> -->
<!-- 		UPDATE TB_CHARACTER_BOARD -->
<!-- 		SET CB_TITLE = #{ boardTitle }, -->
<!-- 			CB_CONTENT = #{ boardContent } -->
<!-- 		WHERE CB_STATUS = 'Y' -->
<!-- 		AND CB_NO = #{  } -->
<!-- 	</update> -->
	
	<!-- 첨부파일 수정 -->
	<update id="updateAttach" parameterType="charBoard">
		UPDATE TB_CHARACTER_ATTACH
		SET CA_ORIGIN_NAME = #{ originName },
			CA_CHANGE_NAME = #{ changeName }
		WHERE CA_STATUS = 'Y'
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard" parameterType="_int">
		UPDATE TB_CHARACTER_BOARD
		SET CB_STATUS = 'N'
		WHERE CB_NO = #{ bno }
	</update>
	
	<!-- 게시글 첨부파일 삭제 -->
	<update id="deleteAttach" parameterType="_int">
		UPDATE TB_CHARACTER_ATTACH
		SET CA_STATUS = 'N'
		WHERE CB_NO = #{ bno }
	</update>
	
	<!-- 댓글 리스트 조회 -->
	<select id="selectReplyList" resultMap="charReplyResultSet" parameterType="_int">
		SELECT CR_NO
		      ,CB_NO
		      ,CR_WRITER
		      ,CR_GROUP_NO
		      ,CR_PARENT_NO
		      ,CR_STEP
		      ,CR_LEVEL
		      ,CR_CREATE_DATE
		      ,LPAD('@@@@@@@@@@@@', 5*(CR_LEVEL)) || CR_CONTENT AS CR_CONTENT
		FROM TB_CHARACTER_REPLY
		WHERE CR_STATUS = 'Y'
		AND CB_NO = #{ refBno }
		ORDER BY CR_GROUP_NO ASC, CR_STEP ASC
	</select>
		
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="charReply">
		INSERT INTO TB_CHARACTER_REPLY(
									   CR_NO
									  ,CB_NO
									  ,CR_CONTENT
									  ,CR_WRITER
									  ,CR_GROUP_NO
									  ,CR_PARENT_NO
									  ,CR_STEP
									  ,CR_LEVEL
									  )
							    VALUES(
							    	   #{ reNo }
							    	  ,#{ refBno }
							    	  ,#{ reContent }
							    	  ,1
							    	  ,#{ reGroupNo }
							    	  ,#{ reParentNo }
							    	  ,#{ reStep }
							    	  ,#{ reLevel }
							  		  )
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="charReply">
		UPDATE TB_CHARACTER_REPLY
		SET CR_CONTENT = #{ reContent }
		WHERE CR_STATUS = 'Y'
		AND CR_NO = #{ reNo }
		AND CB_NO = #{ refBno }
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="deleteReply" parameterType="charReply">
		UPDATE TB_CHARACTER_REPLY
		SET CR_STATUS = 'N'
		WHERE CR_NO = #{ reNo }
		AND CB_NO = #{ refBno }
	</update>
	
	<!-- 댓글의 번호 생성 -->
	<select id="maxNum" resultType="_int">
		SELECT NVL(MAX(CR_NO), 0) + 1
		FROM TB_CHARACTER_REPLY
	</select>
	
	<!-- 대댓글 (부모댓글의 그룹번호와 계층 알아오기) -->
	<select id="replySelect" parameterType="_int" resultMap="charReplyResultSet">
		SELECT CR_NO
			  ,CB_NO
			  ,CR_GROUP_NO
			  ,CR_PARENT_NO
			  ,CR_STEP
			  ,CR_LEVEL
		FROM TB_CHARACTER_REPLY
		WHERE CR_NO = #{ reNo }
		AND CR_STATUS = 'Y'
	</select>
	
	<!-- 대댓글 (댓글중에서 새로운 댓글을 달때 맨 아래로 가기 위한 로직)  -->
	<select id="maxStep" parameterType="_int" resultType="_int">
		SELECT NVL(MAX(CR_STEP), 0) + 1
		FROM TB_CHARACTER_REPLY
		WHERE CR_GROUP_NO = #{ reGroupNo }
	</select>
	
	<!-- 대댓글 (댓글의 계층을 업데이트하기 위한 로직) -->
	<update id="updateStep" parameterType="charReply">
		UPDATE TB_CHARACTER_REPLY
		SET CR_STEP = CR_STEP + 1
		WHERE CR_GROUP_NO = #{ reGroupNo }
		AND CR_STEP > #{ reStep }
	</update>

</mapper>