<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="charBoardMapper">

	<resultMap type="charBoard" id="charBoardResultSet">
		<result column="CB_NO" property="boardNo"/>
		<result column="C_NO" property="charNo"/>
		<result column="CB_WRITER" property="boardWriter"/>
		<result column="CB_TITLE" property="boardTitle"/>
		<result column="CB_CONTENT" property="boardContent"/>
		<result column="CB_VIEWS" property="views"/>
		<result column="CB_LIKE" property="like"/>
		<result column="CB_CREATE_DATE" property="createDate"/>
		<result column="CB_STATUS" property="status"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM TB_CHARACTER_BOARD
	</select>
	
	<!-- 게시글 등록 (글) -->
	<insert id="insertBoard" parameterType="charBoard">
		INSERT INTO TB_CHARACTER_BOARD(
									   CB_NO
									  ,CB_TITLE
									  ,CB_CONTENT)
					VALUES(SEQ_CBNO.NEXTVAL
						  ,#{ boardTitle }
						  ,#{ boardContent })
	</insert>
	<!-- 게시글 등록 (첨부파일) -->
	<insert id="insertAttach" parameterType="java.util.List">
		INSERT INTO TB_CHARACTER_ATTACH(
									    CA_NO
									   ,CB_NO
									   ,CA_ORIGIN_NAME
									   ,CA_CHANGE_NAME
									   ,CA_LEVEL)
		SELECT SEQ_CANO.NEXTVAL,SEQ_CBNO.CURRVAL, A.*
		FROM(
			 <foreach collection="list" item="item" index="index" separator="union all">
			 		SELECT #{ item.originName }
			 			  ,#{ item.changeName }
			 			  ,#{ item.level }
			 		FROM SYS.DUAL
			 </foreach>
			 )A
	</insert>

</mapper>